:root {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #f0eff4;
  --ion-text-color-rgb: 240, 239, 244;

  --ion-text-color-step-50: #e4e3e8;
  --ion-text-color-step-100: #d8d7dc;
  --ion-text-color-step-150: #cccbcf;
  --ion-text-color-step-200: #c0bfc3;
  --ion-text-color-step-250: #b4b3b7;
  --ion-text-color-step-300: #a8a7ab;
  --ion-text-color-step-350: #9c9b9f;
  --ion-text-color-step-400: #908f92;
  --ion-text-color-step-450: #848386;
  --ion-text-color-step-500: #78787a;
  --ion-text-color-step-550: #6c6c6e;
  --ion-text-color-step-600: #606062;
  --ion-text-color-step-650: #545455;
  --ion-text-color-step-700: #484849;
  --ion-text-color-step-750: #3c3c3d;
  --ion-text-color-step-800: #303031;
  --ion-text-color-step-850: #242425;
  --ion-text-color-step-900: #181818;
  --ion-text-color-step-950: #0c0c0c;

  --ion-background-color-step-50: #0c0c0c;
  --ion-background-color-step-100: #181818;
  --ion-background-color-step-150: #242425;
  --ion-background-color-step-200: #303031;
  --ion-background-color-step-250: #3c3c3d;
  --ion-background-color-step-300: #484849;
  --ion-background-color-step-350: #545455;
  --ion-background-color-step-400: #606062;
  --ion-background-color-step-450: #6c6c6e;
  --ion-background-color-step-500: #78787a;
  --ion-background-color-step-550: #848386;
  --ion-background-color-step-600: #908f92;
  --ion-background-color-step-650: #9c9b9f;
  --ion-background-color-step-700: #a8a7ab;
  --ion-background-color-step-750: #b4b3b7;
  --ion-background-color-step-800: #c0bfc3;
  --ion-background-color-step-850: #cccbcf;
  --ion-background-color-step-900: #d8d7dc;
  --ion-background-color-step-950: #e4e3e8;

  --ion-color-primary: #da4167;
  --ion-color-primary-rgb: 218, 65, 103;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c0395b;
  --ion-color-primary-tint: #de5476;

  --ion-color-secondary: #3d2645;
  --ion-color-secondary-rgb: 61, 38, 69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36213d;
  --ion-color-secondary-tint: #503c58;

  --ion-color-tertiary: #832161;
  --ion-color-tertiary-rgb: 131, 33, 97;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #731d55;
  --ion-color-tertiary-tint: #8f3771;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}
